@import "src/theme/variable.scss";
.city-picker {
  .city-picker__input{
    outline: none;
    width:100%;
    padding-left:10px;
  }
}
.yn-popper.popper-city-picker{
  font-size: 12px;
  padding: 0px 10px;
  p{
    margin:0px;
  }
  .city-picker-input-des{
    color: #999;
    margin:10px 0px;
  }
  .city-picker__content{
    .domestic-international-tabs{
      display: flex;
      margin-bottom:10px;
      .domestic-tab,.international-tab{
        padding:5px 10px;
        border-radius: 2px;
        border: 1px solid $yn-border-color-base;
      }
      .domestic-tab{
        margin-right:10px;
      }
      // .international-tab{}
      .active{
        color: #fff;
        background-color: $theme-color;
        border-color: $theme-color;
      }
    }
    .font-active{
      color: $theme-color;
    }
    .history-city-block{
      .history-city-block__title{
        margin-bottom:10px;
      }
    }
    .hot-alphaBeta-block{
      .tabs-nav{
        border-bottom: 1px solid $yn-border-color-base;
        display: flex;
        .tabs-nav__item{
          flex:1;
          .tabs-nav--text{}
          &.active{
            .tabs-nav--text{
              border-bottom: 1px solid $theme-color;
              color: $theme-color;
            }
          }
        }
      }
      .tabs-content{
        padding-top:10px;
        min-height: 100px;
        max-height: 200px;
        overflow-x: auto;
      }
    }
    .history-city-block,.hot-alphaBeta-block,.limited-city-block{
      .city-block-list{
        display:grid;
        grid-template-columns: repeat(auto-fill, 65px);
        .city-block-item{
          margin: 2px 5px 2px 0px;
          &:hover{
            color: $theme-color;
            cursor: pointer;
          }
          height: 20px;
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
        }
      }
    }
  }
  .search-picker-block{
    min-height: 100px;
    max-height: 300px;
    overflow-x: auto;
    .city-block-list{
      display: flex;
      flex-direction: column;
      .city-block-item{
        line-height: 25px;
        &:hover{
          color: $theme-color;
          cursor: pointer;
        }
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
        i {
          font-style: normal;
          color: $theme-color;
        }
      }
    }
  }
}
