lerna-debug.log
packages/**/.DS_Store
packages/queen/lib
packages/queen/docs
packages/venus/lib
packages/venus/docs
packages/mercury/lib
packages/mercury/docs
packages/earth/lib
packages/earth/docs
node_modules
.DS_Store
docs/queen
docs/venus