/*
* @Author: Just be free
* @Date:   2020-11-19 17:56:52
* @Last Modified by:   Just be free
* @Last Modified time: 2021-06-07 16:07:59
*/
.q-animation-list-item {
  transform: translateY(0px);
  backface-visibility: hidden;
  transition: all 500ms ease;
  &.no-transform {
    transform: none;
  }
}
.q-slide-in-enter-from,
.q-slide-in-enter-to,
.q-slide-in-enter-active,
.q-slide-in-leave-active {
  opacity: 0;
  transform: translateY(100px);
}