.yn-input-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  > .icon {
    cursor: pointer;
    padding-right: 2px;
    padding-left: 1px;
  }
  .clearIcon {
    width: 18px;
  }
  > input {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    margin: 2px 2px 2px 4px;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  textarea {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    &:focus {
      outline: none;
    }
  }
}
.yn-input-wrap-underline {
  border-radius: 0px;
}
