.yn-input-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  padding: 2px 5px;
  > .icon {
    cursor: pointer;
    i.yn-iconfont-wrap {
      padding: 0 3px;
    }
  }
  .clearIcon {
    width: 18px;
  }
  input {
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    &:focus {
      outline: none;
    }
  }
  textarea {
    border-left: none;
    border-right: none;
    width: 100%;
    height: 100%;
    &:focus {
      outline: none;
    }
  }
}
