.yn-category {
  width: 165px;
  position: relative;
  background: @white;
  .yn-category-ul {
    list-style: none;
    width: 163px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    // border-left: 2px solid #292e3f;
    font-size: 14px;
    color: @text-color;
    font-weight: 400;
    height: 400px;
    .yn-category-li {
      padding-left: 10px;
      line-height: 30px;
      height: 30px;
      overflow: auto;
      &.active {
        background: #dfe9f7;
      }
    }
  }
  .result-panel {
    background: @white;
    padding: 10px 40px;
    position: absolute;
    box-shadow: 0px 2px 7px -2px rgba(0, 6, 50, 0.3);
    margin: 0;
    top: 0;
    left: 165px;
    width: 960px;
    height: 380px;
    overflow: auto;
    &.loading {
      text-align: center;
    }
    .category-loading {
      display: inline-block;
    }
    &.hide {
      display: none;
    }
    dl {
      font-size: 12px;
      display: flex;
      dt {
        width: 100px;
        text-align: right;
        height: 100%;
        font-weight: 400;
        color: @text-color;
        display: inline-block;
        span:hover {
          cursor: pointer;
          // color: @text-color;
          color: #f42424;
        }
        .text-wrapper {
          width: 100%;
        }
      }
      dd {
        width: calc(100% - 110px);
        color: #666;
        display: inline-block;
        margin-left: 20px;
        span {
          margin-right: 20px;
        }
        span:hover {
          cursor: pointer;
          // color: @text-color;
          color: #f42424;
        }
      }
    }
  }
}
