.yn-textarea {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid @yn-border-color-base;
  outline: none;
  resize: none;
  font-size: 14px;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  border-radius: 0px;
  color: @yn-text-color;
  &.focused[wrapped="wrapped"],
  &.focused[wrapped="unwrapped"],
  &.blured[wrapped="unwrapped"] {
    text-align: right;
  }
  &.blured[wrapped="wrapped"] {
    text-align: left;
  }

  &::-webkit-input-placeholder {
    font-size: 14px;
    color: @yn-auxiliary-color;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
    color: @yn-auxiliary-color;
  }
}
