@import "./variable.scss";

html,body,ul{
  margin:0;
  padding:0;
  background-color:#fff;
  font-size: 12px;
}
ul,li{
  list-style-type: none;
}
button{
  padding: 0px;
}
input,
textarea {
  color: $yn-text-color;
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.normal-line-height {
  line-height: normal;
}
.initial-line-height {
  line-height: initial;
}
.inherit-line-height {
  line-height: inherit;
}
.disable-highlight-tap, a,img,button,input,textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
