
$yn-primary-6: #1E88E5;

// 主题色
$theme-color: #0052CC; // modified
// 边框颜色
$yn-border-color-base: #E1E5EB;
// 成功颜色
$yn-success-color: #2A8A37;
$yn-success-bg-color: #EBF7F1;
// 危险颜色
$yn-error-color: #BB0B08;
$yn-error-bg-color: #FCEEEE;
// 警告颜色
$yn-warning-color: #E58621;
// 警告色背景色
$yn-warning-bg-color: #FEF1E9;
// 背景色
$yn-background-color: #F5F7FA;
// 背景水印
$yn-auxiliary-color: #D0D3DB;
// 选中色
$yn-background-color-light: #E5EDF9;
// 白色
$white: #ffffff;
// 黑色
$black: #000000;
// 文字颜色
$yn-text-color: #1A253B;
// 次文本颜色
$yn-text-color2: #4E5D78;
$yn-text-color-secondary: #4E5D78;
// 不可选颜色，未激活颜色
$yn-disabled-color: #BCC1CC;
$yn-disabled-bg-color: #F5F5F7;
// 货币颜色
$yn-money-color: #0052CC;

// 标签文本，按钮
$yn-label-color: #4E5D78;


/* Popup
-------------------------- */
$--popup-modal-background-color: $black !default;
$--popup-modal-opacity: 0.5 !default;
$--popover-arrow-size: 6px !default;

/** transition*/
$--fade-linear-transition: opacity 200ms linear !default;

/** tag */
$tag-info-color: $yn-label-color !default;
$tag-primary-color: $theme-color !default;
$tag-success-color: $yn-success-color !default;
$tag-warning-color: $yn-warning-color !default;
$tag-danger-color: $yn-error-color !default;
$tag-font-size: 12px !default;
$tag-border-radius: 4px !default;
$tag-padding: 0 10px !default;
