@import "src/theme/variable.scss";
.yn-date-picker {
  display:inline-flex;
  white-space: nowrap;
  line-height:26px;
  border: 1px solid $datepicker-border-color;
  border-radius: 4px;
  padding: 3px 10px;
  box-sizing: border-box;
  &.is-focus{
    border-color: $theme-color;
  }
  &.is-single{
    .yn-date-picker--WeekDes{
      margin: 0 5px;
      color: $yn-auxiliary-color;
    }
  }
  &.is-double{
    .yn-date-picker__rangMid{
      flex:1;
      text-align:center;
      .yn-date-picker__roundhotel{
        padding: 1px 5px;
        color: $theme-color;
        background-color: $datepicker-inrange-background-color;
        border-radius: 2px;
      }
    }
    .yn-date-picker--fromDateMark{
      margin: 0 5px;
    }
    .yn-date-picker--fromWeekDes{
      margin: 0 5px;
      color: $yn-auxiliary-color;
    }
    .yn-date-picker--toDateMark{
      margin: 0 5px;
    }
    .yn-date-picker--toWeekDes{
      margin: 0 5px;
      color: $yn-auxiliary-color;
    }
  }
  .yn-date-picker__startDate, .yn-date-picker__endDate{
    display:flex;
    align-items: center;
    margin: 0 5px;
    &.is-selected{
      background-color: $datepicker-inrange-background-color;
      border-radius: 2px;
      .yn-field-base{
        background-color: $datepicker-inrange-background-color;
      }
    }
  }
}
