.yn-tree {
  .yn-tree-leaf {
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    margin-left: 15px;
    user-select: none;
    .yn-tree-leaf-label {
      .tree-checkbox {
        margin-right: 10px;
      }
    }
  }
}
