.yn-cascader {
  width: 30%;
  min-width: 250px;
  max-width: 290px;
  height: auto;
  float: left;
  position: relative;
  // padding: 4px;
  border: 1px solid @border-color;
  color: #282828;
  font: 400 12px/15px consolas;
  .yn-cascader-title {
    width: 100%;
    height: 57px;
    background: #e8e8e8;
    line-height: 57px;
    text-align: center;
  }
  .yn-cascader-content {
    height: 240px;
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #eee;
      margin-bottom: 10px;
    }
    // &::-webkit-scrollbar-track {
    //     -webkit-box-shadow: 0;
    //     border-radius: 0;
    //     background: #eee;
    //     border-radius: 10px;
    // }
    .yn-cascader-ul {
      padding: 0;
      margin: 0;
      list-style: none outside none;
      > li {
        height: 30px;
        line-height: 30px;
        position: relative;
        user-select: none;
        span {
          display: block;
          padding: 0 25px;
        }
      }
      & :hover {
        background: #108ee9;
        // color: @theme-color;
        color: @white;
      }
      .current {
        span {
          color: @white;
        }
        background: #108ee9;
        font-weight: bold;
      }
    }
  }
}
.cascader-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  z-index: 1;
}
