.yn-counter {
  .yn-counter-subtract,
  .yn-counter-screen,
  .yn-counter-plus {
    color: #2a2a2a;
    height: 28px;
    display: inline-block;
    background: #ffffff;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
  }
  .yn-counter-screen {
    min-width: 30px;
    border-top: 1px solid #e5e6e8;
    border-bottom: 1px solid #e5e6e8;
  }
  .yn-counter-subtract,
  .yn-counter-plus {
    width: 30px;
    border: 1px solid #e5e6e8;
  }
  .yn-counter-subtract {
    border-radius: 2px 0px 0px 2px;
  }
  .yn-counter-plus {
    border-radius: 0px 2px 2px 0px;
  }
}
