.yn-shipping-address {
  min-width: 324px;
  .address-selection {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      display: inline-block;
      height: 34px;
      li {
        display: inline-block;
        height: 34px;
        font-size: 12px;
        color: #666;
        cursor: pointer;
        vertical-align: top;
        &.hide {
          display: none;
        }
        user-select: none;
        span.label {
          height: 32px;
          line-height: 32px;
          padding: 0 20px;
          border: 1px solid @border-color;
          border-top-width: 2px;
          border-left: none;
          display: block;
          &.hide {
            display: none;
          }
          &.active {
            position: relative;
            z-index: 1;
            border-bottom: 1px solid @white;
            color: #f42424;
            border-top: 2px solid #f42424;
          }
        }
        &:first-child {
          span.label {
            border-left: 1px solid @border-color;
          }
        }
        
      }
    }
    .address-result {
      width: 324px;
      &.loading {
        text-align: center;
      }
      .shipping-address-loading {
        display: inline-block;
      }
      &.hide {
        display: none;
      }
      .option {
        font-size: 12px;
        color: #666;
        &:hover {
          color: #f42424;
          cursor: pointer;
        }
        text-align: center;
        display: inline-block;
        margin: 5px 0;
        width: 33%;
      }
    }
  }
}
