@import "../../theme/variable.less";
.yn-tabs {
  .yn-tabs-nav {
    height: 44px;
    overflow: hidden;
    .yn-tabs-nav-flex {
      height: 44px;
      line-height: 44px;
      .yn-tabs-nav-flex-item {
        &.bottom-line {
          box-shadow: inset 0px -0.5px 0px 0px @yn-border-color-base;
        }
        .yn-tab-text {
          vertical-align: top;
          font-size: 14px;
          display: inline-block;
          height: 41px;
          color: @yn-text-color2;
          box-sizing: content-box;
          &.active {
            color: @yn-primary-color;
            border-bottom: 2px solid @yn-primary-color;
          }
          &.disabled {
            cursor: not-allowed;
            color: @yn-disabled-color;
          }
        }
      }
    }
  }
}
