@import "../../theme/variable.less";
.yn-pull-refresh {
  user-select: none;
  transition: all 0.2s ease-out;
  &.none {
    transition: none 0s ease 0s;
  }
  .yn-pull-refresh-loading {
    .loading-spin {
      vertical-align: middle;
    }
  }
  .yn-pull-refresh-loading,
  .yn-pull-refresh-draggin-text {
    text-align: center;
    height: 48px;
    line-height: 48px;
    .text {
      margin: 0 5px;
    }
    > span {
      display: inline-block;
      font-size: 13px;
      color: @yn-text-color2;
    }
  }
}
