@import "../../theme/variable.less";

.yn-pull-refresh {
  user-select: none;
  position: relative;

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: @yn-text-color-secondary;
    line-height: 48px;
    font-size: 12px;
    overflow: hidden;
    transform: translate3d(0, -100%, 0);

    .yn-pull-refresh-dragging-text {
      font-size: 12px;
      text-align: center;
    }
  }

  .yn-pull-refresh-loading {
    text-align: center;

    .yn-pull-refresh-loading-text {
      padding-left: 4px;
    }

    .yn-spin-rotate-svg {
      img {
        display: block;
      }
    }

    > span {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      color: @yn-text-color-secondary;
    }
  }
}
